footer{
    padding: 20px 0;
	background-color: #cbe0dd;
	color: #000000;
	text-align: center;
}
.navbar-logo{
	width: 70px;
	height: 45px;
	position: relative;
}

.text-nodeco {
	text-decoration: none;
}

.rem18 {
	width: 18rem;
}

.width-500px-img {
	width: 500px;
}

.poppin-font {
	font-family: 'Poppins', sans-serif;
}

.mt-80 {
	margin-top: 80px;
}

.mt-40 {
	margin-top: 40px;
}

.webout-footer {
	background-color: powderblue;
	margin-top: 100px;
}

.foot-color {
	background-color: skyblue;
}